.meter {
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
}
.meter-progress {
    height: 100%;
    background-color: #0d6efd;
    width: 0%;
}

.form-label{
    font-size: 20px;
}

.delete-btn{
    float: right; /* ボタンを右寄せ */
}

.edit_btn{
    float: right; /* ボタンを右寄せ */
}

#clearAllRecords{
    float: right;
}

#deleteTodoBtn {
    float: left;
}

